/*-----Background-----*/

.background {
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UD7CEz6/'+
  'videoblocks-editorial-airbnb-inc-logo-on-glass-building_hbxcrvgrf_thumbnail-full01.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: auto;

}

/*-----for border----*/
.loginForm {

  font-family: sans-serif;
  margin: 0 auto;
  text-align: center;
  opacity: 0.8;
  margin-top: 67px;
  max-width: 500px;
  padding-top: 10px;
  height: 363px;
  margin-top: 160px;
}


/*---for email-----*/

.email {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  margin-left:1px;
  margin-top: 15px;
  text-align: left;
}

#email {
  margin-top: 10px;
}


/*---for password-----*/

.password {
  margin-left: 10px;
  font-family: sans-serif;
  color: white;
  font-size: 14px;
  margin-top: 15px;
  text-align: left;

}

#password {
  margin-top: 10px;
}

/*---for heading-----*/
.heading {
  text-decoration: blueviolet;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

.btn.btn-warning:hover {
  box-shadow: 2px 1px 2px 3px #99ccff;
  background: #5900a6;
  color: #fff;
  transition: background-color 1.15s ease-in-out, border-color 1.15s ease-in-out, box-shadow 1.15s ease-in-out;
}

.checkbox {
  text-decoration: white;
  text-align: center;
  font-size: medium;
  color: black;
  padding-top: 10px
}

.btn-link {
  color: black;
}

//.btn-primary:hover {
//  box-shadow: 2px 1px 2px 3px #99ccff;
//  background: #5900a6;
//  color: red;
//  transition: background-color 1.15s ease-in-out, border-color 1.15s ease-in-out, box-shadow 1.15s ease-in-out;
//}

.validate {
  color: red;
  background-color: antiquewhite;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.loginfail {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 10px;
  color: red;
  background-color: antiquewhite;
  text-align: center;
  margin-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
}
.button-login {
  padding: 10px 50px 0px 0px ;
}
.button-signup {
  padding: 7px 0px 0px 60px;
}
