<nav class="navbar-brand ">
  <div class="row ">
        <div class="nav-item"><a class="nav-link" routerLink="home">Home</a></div>
        <div *ngIf="authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user">User Board</a>
        </div>
        <div *ngIf="authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="admin">Admin Board</a>
        </div>
        <div *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </div>
        <div *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="signup">SignUp</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
